body{
background-color: cadetblue;
}
header {
color: yellowgreen;
background-color: red;
border: 2px solid #000000;
border-radius: 5px;
text-align: center;
}
#Alpha {
color: green;
text-align: center;
}
#one {
 width: 100%;
height: 200px;
border: 2px ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center; 
}
.Rock{
width: 300px;
height: 150px;
border: 4px solid red;
 border-radius: 15px ;
background-color: aquamarine;
text-align: center;
}
#one h2 {
color: red;
}
#red {
color: green;
text-align: center;
}
#blue {
text-align: center;
}
#two {
 width: 100%;
height: 700px;
border: 2px ;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.done {
width: 300px;
height: 600px;
color: rgb(166, 113, 113);
border: 4px solid red;
 border-radius: 15px ;
background-color: aquamarine;
text-align: center;

}
.done img {
width: 100%;
height: 200px;
border-radius: 10px;

}
.done h2{
color: rgb(18, 161, 18);
}




